.form-block {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.lable-block {
  display: block;
}

.log-cont {
    width: 500px;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 40px;
    margin: 70px auto;
}

.log-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.log-logo img {
    width: 100px;
    margin: 0px 0px 0px -100px;
}

.log-logo h2 {
    font-size: 28px;
    font-weight: bold;
    margin: -30px;
}

.buttons a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    background: #e5533d;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.buttons button:hover {
    opacity: 0.9;
}

.buttons a {
    font-size: 18px;
}

